.viewport {
  display: flex;
  justify-content: center;
}

.content {
  box-sizing: border-box;
  padding: 0 var(--space-4);
  width: 100%;
  max-width: 800px;
}

.dialogDescription {
  text-align: center;

  p {
    margin: 0;
  }

  b {
    font-weight: 600;
  }
}

.inputArea {
  box-sizing: border-box;
  padding: var(--space-2) var(--space-4);
  max-width: 800px;
}

.logo {
  width: 180px;
  height: auto;
}

.description {
  max-width: 600px;
  text-align: center;

  p {
    margin: 0;
  }

  b {
    font-weight: 600;
  }
}

@media (max-height: 600px) {
  .hideIfWindowTooShort {
    display: none;
  }
}
