.Balloon {
  padding: var(--space-2) 0;

  &.direction_fromAngel {
    --bg: var(--accent-3);
  }

  &.direction_fromMortal {
    --bg: var(--accent-5);
  }

  .content {
    max-width: 80%;
    background-color: var(--bg);
    padding: var(--space-2) var(--space-3);
    border-radius: var(--radius-3);
  }
}
